@font-face {
    font-family: TheBeatles;
    src: url(../font/BeatlesFont/BOOTLE__.TTF);
}

body {
	background: #444;
	color: #fff;
}

img {
	max-width: 100%;
}

.jumbotron {
	background: #fff;
	padding-bottom: 0;
}

#playerScore {
	position: absolute;
	top: 125px;
	left: 25px;
	color: #333;
	font-size: 2em;
}

#timer {
	position: absolute;
	top: 125px;
	right: 25px;
	color: #333;
	font-size: 2.5em;
	text-align: center;
}

.jumbotron-text {
	text-align: center;
	color: #777 !important;
}

.Beatles {
	font-family: TheBeatles;
	max-width: 250px;
	display: inline-block;
}

.Beatles .logo-small {
    line-height: 0px;
    font-size: 35px;
    display: block;
    margin-bottom: -64px;
    margin-left: -20px;
}

/* Slide Show */
.slideshow {
  height: 100px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.slideshow > div {
  height: 100px;
  width: 5600px;
  background: url(../images/slider.png);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.slideshow .slideImages {
  transition: opacity 0.5s ease-out;
  animation: moveSlideshow 35s linear infinite;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}
/* END SLIDESHOW */

#startBtn {
	background: green;
	padding: 15px;
	text-align: center;
	width: 25%;
	margin: 0 auto;
}

#startBtn:hover {
	background: darkgreen;
	cursor: pointer;
}

.triviaTitle {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-variant: small-caps;
	margin-top: 0;
}

#question {
	margin-bottom: 70px;
}

.questions {
	text-align: center;
}

#answers {
	display: inline-block;
	width: 100%;
}

.answers {
	background: steelblue;
	border: 1px solid #fff;
	border-radius: 15px;
	padding: 15px 0;
	margin-bottom: 20px;
	width: 45%;
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;
	float: left;
	cursor: pointer;
}

.answers:hover {
	background: #549dd9;
}

.answers:nth-child(odd) {
	margin-right: 10%;
}

.answers h3 {
	margin: 10px 0;
}

.correct {
	text-align: center;
}

#right {
	text-align: center;
}

#message {
	font-size: 20px;
	text-align: left;
}

.correctMessage {
	background: #6fc474;
	padding: 10px 0;
	border: 1px solid #4b854f;
	color: #3f7043;
}

.wrongMessage {
	background: #ca4a4a;
	padding: 10px 0;
	border: 1px solid #622424;
	color: #622424;
}

#nextBtn {
	width: 50%;
	margin: 0 auto;
	padding: 20px;
	background: green;
	color: #fff;
	font-size: 1.5em;
	border: none;
}

#nextBtn:hover {
	background: darkgreen;
	cursor: pointer;
}

@media only screen and (max-width: 767px) {
	
	#timer, #playerScore {
		top: 50px;
	}

	.Beatles .logo-small {
		margin-bottom: -35px;
		margin-left: -7px;
		font-size: .7em;
	}

	#answers {
		padding: 0 5%;
	}
	.answers {
		width: 100%;
	}

	.answers:nth-child(odd) {
		margin-right: 0;
	}
}








